.navbar {
    width: 100%;
    background-color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
    top: 0;
    z-index: 100;
}

.nav-left img {
    width: 60px;
    height: auto;
}

.nav-center {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-center a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
}

.nav-right .account-link {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.nav-right .account-link {
    color: grey;
    display: flex;
    gap: 15px;
}

body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color : rgb(4, 4, 87);
}

.logo-image {
    height: auto;
    width: 55px;
    padding: 20px;
}

 
  h1{
    text-align: center;
    color: white;
  }  

 
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav ul li a:hover {
    color: grey;
}

#NFT_collections {
    text-align:center;
    padding: 40px 20px;

}

#NFT_collections h2 {
    margin-bottom: 30px;
    font-size: 3rem;
    text-align: center;
    width: 100%;
    color: white;
}

.Glossy-collection,
.Superhero-collection {
    background-color: black;
    color:white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    margin: 20px auto;
}

.Glossy-collection h3,
.Superhero-collection h3 {
    text-decoration: underline;
}

.stock {
    background-color:black;
    display: inline-block;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
}

.stock p {
    color: white;
    font-size: 2rem;
    margin: 0;
}