body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-main);
    color: var(--text-main);
}

.Duck-NFT,
.Cat-NFT,
.Donkey-NFT,
.Giraffe-NFT,
.Lobster-NFT,
.Rooster-NFT,
.Squirrel-NFT,
.NFT-Card {
    display: flex;
    color: var(--text-main);
    align-items: flex-start;
    background: var(--card-bg);
    padding: 25px;
    border-radius: 12px;
    margin: 30px auto;
    width: 90%;
    max-width: 800px;
    gap: 20px;
}


.nft-image {
    height: auto;
    width: 200px;
    border: 2px solid var(--section-bg);
    border-radius: 12px;
}

.nft-info {
    flex: 1;
    text-align: left; /* ensure text in the card is left-aligned */
}

.nft-info h2 {
    margin-top: 0;
    font-size: 2rem;
}

.nf-description {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: left;
}

.nft-editions {
    font-size: 0.95rem;
    margin-bottom: 10px;
}

.nft-out-of-stock,
.nft-out-of-stock-message {
    color: #ff4d4f;
    font-weight: bold;
}

.size-option p {
    font-size: 1rem;
    margin-bottom: 9px;
    text-align: left;
}

.small-size,
.medium-size,
.large-size,
.size-option button {
    color: var(--text-main);
    background: var(--section-bg);
    padding: 8px 16px;
    border-radius: 5px;
    margin-right:10px;
    cursor: pointer;
    border: 2px solid transparent;
}

.small-size:hover,
.medium-size:hover,
.large-size:hover,
.size-option button:hover {
    color: black;
    background: white;
}

.size-option button.selected {
    border: 2px solid var(--section-bg);
    background: #444;
}

.Add-to-basket {
    color: white;
    border: none;
    margin-top: 20px;
    padding: 12px 20px;
    background: #307ea8;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.small-size:hover,
.medium-size:hover,
.large-size:hover {
    color: black;
    background: white;
}

.small-size.selected,
.medium-size.selected,
.large-size.selected {
    color: black;
    background: white;
    border: 2px solid #307ea8;
}

.Add-to-basket:hover {
    background: #2180b3;
}